.subitem {
  height: 50px;
  margin-left: auto;
  width: 50%;
  font-size: 20px;
  background-color: purple;
  margin-right: auto;
  margin-top: 10px;
}

.subitem-title {
  display: inline-block;
  /* font-size: 20; */
  margin-right: 20px;

  
}

.subitem-info {
  display: inline-block;
}